.center{
	display: inline-flex;
	justify-content: center;
	width: 100%;
}

.wrapper{
	padding: 28px;
	width: 1130px;

	h2{
		display: inline-block;
		color: #28323C;
		font-weight: 600;
		font-size: 20px;
		padding: 0px;
		margin: 0px;
	}

	p{
		font-weight: 400;
		font-size: 12px;
		color: #7E848A;
	}

	.tag{
		display: inline-block;
		font-weight: 600;
		font-size: 12px;
		line-height: 15px;
		border-radius: 3px;
		padding: 4px 8px;
		&.green{
			background: #E6FAF3;
			color: #005F41;
		}
	}

	.widget-plan{
		display: inline-flex;
		justify-content: space-between;
		align-items: end;
		width: 100%;
	}

	.inline{
		display: inline-flex;
		align-items: center;
	}

	.button{
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		background: #FFF;
		border: 1px solid #EAEBED;
		border-radius: 30px;
		padding: 5px 12px;
		cursor: pointer;

		img{
			margin-right: 6px;
		}
		
		&.green{
			color: #008E62;
		}
	}
}