<div class="center">
	<div class="wrapper">
		<div class="widget-plan">
			<div>
				<div class="inline">
					<img src="/assets/images/synexio.svg">
					<h2 style="margin-left: 11px;">Monitor Line</h2>
				</div>
				<p style="margin: 4px 0px;">Vevey, Switzerland, 6:42pm Wed</p>

				<div class="inline">
					<div class="tag green">In Production</div>
					<p style="color: #415D77;margin-left: 11px;">PO 9878987, Baby Biscuit 150g</p>
				</div>
			</div>

			<a class="button green">
				<img src="/assets/images/eye.svg">
				View Plan
			</a>
		</div>

		<app-table></app-table>
	</div>
</div>