@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	list-style: none;
}

body{
	font-family: 'Open Sans', sans-serif;
	background: #F4F5F6;
	font-size: 12px;
	color: #28323C;
	font-weight: 400;
	line-height: 18px;
}

@mixin row-space-between {
}